/* articles */
.content_loc_articles{
	.articles{
		&__title{
			font-family: TrebucBold, Arial;
			font-size: 24px;
			@media screen and (min-width: 1024px) {
				font-size: 30px;				
			}
		}
		&__list{
			font-size: 0;
			padding: 0;
			text-align: center;
			@media screen and (min-width: 1024px) {
				text-align: left;
				padding-bottom: 40px;
			}
			li:before{
				content: '';
			}
		}
		.article{
			list-style: none;
			
			display: inline-block;
			vertical-align: top;
			padding: 0;
			margin-bottom: 40px;
			text-align: left;
			@media screen and (min-width: 640px) {
				margin-right: 10px;
			}
			@media screen and (min-width: 960px) {
				width: 300px;
			}
			@media screen and (min-width: 1024px) {
				margin: 40px 15px 0;
			}
			&:nth-child(3n+1){
				margin-left: 0;
			}
			&:nth-child(2n){
				@media screen and (max-width: 959px) {
					margin-right: 0;					
				}
			}
			&:nth-child(3n){
				@media screen and (min-width: 1024px) {
					margin-right: 0;
				}
			}
			&:nth-child(-n+3){
				@media screen and (min-width: 1024px) {
					margin-top: 0;					
				}
			}
			&__header{
				font-family: TrebucBold, Arial;
				text-transform: uppercase;
				@media screen and (min-width: 960px) {
					min-height: 42px;					
				}
				@media screen and (min-width: 1024px) {
					font-size: 24px;
				}
			}
			&__img-link{
				display: block;
				position: relative;
				width: 100%;
				max-height: 150px;
				overflow: hidden;
				margin-bottom: 20px;
				@media screen and (min-width: 640px) {
					max-height: 200px;
					width: 50%;
					float: left;
					margin-right: 20px;
				}
				@media screen and (min-width: 960px) {
					max-height: 300px;
					width: 100%;
					float: none;
					margin-right: 0;
				}
			}
			&__img{
				display: inline-block;
				width: 100%;
			}
			&__title{
				margin-bottom: 20px;
				max-height: 38px;
				overflow: hidden;
			}
			&__descr{
				padding: 0;
				max-height: 76px;
				overflow: hidden;
				text-align: left;
			}
			&__btn{}
		}
	}
}
/* .articles */