/* contacts */
.content_loc_contacts{
	.contacts{
		padding: 40px 0 80px;
		&-title{
			font-family: TrebucBold, Arial;
			font-size: 22px;
			@media screen and (min-width: 1024px) {
				font-size: 30px;				
			}
		}
	}

	.contact{
		vertical-align: top;
		
		padding: 35px;
		margin: 0 auto 30px;
		border: 2px solid white;
		@media screen and (min-width: 960px) {
			display: inline-block;
			width: 275px;
			margin: 0 10px 0 0;
		}
		@media screen and (min-width: 1024px) {
			margin: 0 40px 0 0;
		}
		&__adress{
			padding: 0 0 15px 25px;
			position: relative;
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				padding-left: 2px;
				content: '\f041';
				font-family: FontAwesome;
				font-size: 22px;
				color: $green;
			}
			p{
				margin: 0;padding: 0;
				text-align: left;
			}
		}
		&__tel{
			padding: 0 0 15px 25px;
			position: relative;
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				padding-left: 2px;
				content: '\f095';
				font-family: FontAwesome;
				font-size: 20px;
				line-height: 28px;
				color: $green;
			}
			a{
				font-family: OpenSansSemibold, Arial;
				font-size: 18px;
				text-decoration: none;
			}
		}
		&__mail{
			padding: 0 0 0 25px;
			position: relative;
			&:before{
				position: absolute;
				top: 0;
				left: 0;
				padding-left: 2px;
				content: '\f0e0';
				font-family: FontAwesome;
				font-size: 18px;
				color: $green;
			}
			a{
				text-decoration: none;
			}
		}
	}
	.feedback{
		@media screen and (min-width: 960px) {
			width: 640px;	
			display: inline-block;
			vertical-align: top;

		}
		&__form{
		}
		&__title{
			font-family: TrebucBold, Arial;
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 40px;
		}
		&__input{
			width: 100%;
			height: 37px;
			line-height: 37px;
			padding: 0 15px;
			margin-bottom: 35px;
			border: none;
			@media screen and (min-width: 640px) {
				width: 48%;
			}
			@media screen and (min-width: 960px) {
				width: 300px;
			}
			&:focus{
				outline: 3px solid $green;
			}
			&:nth-child(even){
				@media screen and (min-width: 640px) {
					float: right;
				}
				@media screen and (min-width: 960px) {
					margin-right: 35px;		
					float: none;			
				}
			}
		}
		&__message{
			padding: 8px 15px;
			display: inline-block;
			width: 100%;
			height: 120px;
			resize: none;
			border: none;
			margin-bottom: 35px;
			@media screen and (min-width: 960px) {
				height: 82px;
			}
			&:focus{
				outline: 3px solid $green;
			}
		}
		&__btn{
			float: right;
		}
	}
}

.map{
	position: relative;
	height: 200px;
	background-color: #000000;	
	@media screen and (min-width: 960px) {
		height: 330px;
	}
	@at-root{
		#map-canvas{
			height: 100%;
		}
		#map-trigger{
			&:checked ~ .map__cover {
				display: none;
			}
		}
	}
	&__cover{
		position: absolute;
		top: 0;left: 0;
		z-index: 1;
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
	&__btn{
		position: absolute;
		bottom: 0;top: 0;
		right: 0;left: 0;
		margin: auto;
		background: $bgc;
		width: 200px;
	}
}
/* .contacts */