/* index */
.content_loc_index{
	margin-top: 150px;
	@media screen and (min-width: 1024px) {
		padding-top: 315px;
		margin-top: 0;

	}
	.slider{
		position: relative;
		&__slick{
			overflow: hidden;
			margin: 0;
			@media screen and (min-width: 1024px) {
				max-height: 110px;				
			}
		}

		&__buttons{
			position: absolute;
			left: 0;
			right: 0;
			top: -35px;
			margin: auto;
			width: 100%;
			@media screen and (min-width: 1024px) {
				width: 960px;
			}
			.slick{
				&-prev{
					left: 0;
					&:before{
						content: '\f104';
					}
				}
				&-next{
					left: 35px;
					&:before{
						content: '\f105';
					}
				}
				&-arrow{
					position: absolute;
					height: 30px;
					width: 30px;
					border: 2px solid white;
					&:hover{border: 2px solid $green;}
					&:before{
						font-family: FontAwesome;
						font-size: 24px;
						height: 100%;
						width: 100%;
						display: block;
						opacity: 1;
					}

				}

			}
		}
	}
	.slogan{
		@media screen and (min-width: 640px) {
			width: 50%;
		}
		&__text{
			margin: 0;
			word-spacing: normal;
			text-align: left;
			&_size{
				&_big{
					font-family: TrebucBold, Arial;
					font-size: 24px;
					text-transform: uppercase;
					color: white;
					@media screen and (min-width: 1024px) {
						font-size: 30px;
					}
				}
				&_small{
					font-family: OpenSansSemibold, Arial;
					font-size: 14px;
					font-style: italic;
					color: white;
					padding-top: 20px;
					margin: 0;
				}
			}
		}
	}
	.news{
		&__list{
			font-size: 0;
			padding: 30px 0;
			@media screen and (min-width: 640px) {
				padding: 60px 0;
			}
			@media screen and (min-width: 1024px) {
				padding: 110px 0;				
			}
			li{
				&:before{
					content: '';
				}
			}
		}
	}
	.new{
		display: inline-block;		
		margin-top: 30px;
		padding: 0;
		width: 100%;
		vertical-align: top;
		height: 120px;
		@media screen and (min-width: 480px) {
			height: 185px;
		}
		@media screen and (min-width: 640px) {
			height: 120px;
			width: calc(50% - 15px);
		}
		@media screen and (min-width: 960px) {
			height: 195px;
			width: calc(50% - 15px);
		}
		&:nth-child(odd){
			@media screen and (min-width: 640px) {				
				margin-right: 30px;
			}
		}
		&__link{
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			background-color: $bgc;
			text-decoration: none;
			&:hover{
				border-bottom: 7px solid $green;
			}
		}
		&__img{
			width: 100%;
			height: auto;
			position: absolute;
			left: 0;top: 0;bottom: 0;
			margin: auto;
			z-index: 1;

			&-filter{
				position: absolute;
				height: 100%;width: 100%;
				z-index: 2;

				background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
				background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				background: -o-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				background: linear-gradient(45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

			}
		}
		&__date{
			font-family: OpenSansSemibold, Arial;
			font-size: 12px;
			color: white;
			position: relative;
			z-index: 3;
			padding: 10px 25px;
			margin: 0;
			@media screen and (min-width: 480px) {
				padding: 10px 25px;
			}
			@media screen and (min-width: 640px) {
				padding: 10px 25px 20px;
			}
			@media screen and (min-width: 960px) {
				padding: 35px 25px 45px;
			}
			&:before{
				content: '\f017';
				font-family: FontAwesome;
				color: $green;
				margin-right: 5px;
			}
		}
		&__header{
			text-transform: uppercase;
			position: absolute;
			bottom: 10px;
			margin: 0;
			z-index: 3;
			padding: 0 25px;
			max-height: 51px;
			overflow: hidden;
			font-size: 12px;
			@media screen and (min-width: 640px) {
				margin-bottom: 0;
			}
			@media screen and (min-width: 960px) {
				padding: 30px 50px 0 25px;	
				font-size: inherit;		
				max-height: 68px;
			}
		}
	}
	.slider__slick,
	.slide,
	.slogan{
		&:focus{
			outline: none;
		}
	}
}
/* .index */