/* layout */
body{
	background:transparent url('../images/media/bg-1.jpg') 75% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	@media screen and (min-width: 1280px) {
		background:transparent url('../images/media/bg-1.jpg') no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

.header{
	border-top: 5px solid $green;
	position: fixed;
	top: 0;left: 0;
	z-index: 10;
	width: 100%;
	@media screen and (min-width: 1024px) {
		position: relative;
	}
	&__wrapper{		
		background-color: $bgc;	
		box-shadow: 0 10px 10px -10px black;	
		@media screen and (min-width: 1024px) {
			width: 1024px;
			padding: 0 32px;
			margin: auto;
			background: none;
			box-shadow: none;
		}
	}
	&__top-line{
		padding: 7px 15px 0;
		height: 45px;
		@media screen and (min-width: 1024px) {
			padding: 60px 0 0;
			height: auto;
			text-align: center;
		}
	}
	.finance{
		&_device{
			&_mobile{
				display: block;
				text-align: right;
				float: right;
				padding: 15px 0;
				@media screen and (min-width: 1024px) {
					display: none;
				}
			}
			&_desktop{
				display: none;
				float: left;
				padding-top: 15px;
				text-align: right;
				@media screen and (min-width: 1024px) {
					display: inline-block;
				}
			}
		}
		
		&__list{
			display: inline-block;
		}
		&__currency{
			font-family: OpenSansSemibold, Arial;
			font-size: 12px;
			text-transform: uppercase;
			color: $dimmed;
			display: inline-block;
			&:after{
				display: inline-block;
				content: ' - ';
				margin: 0 5px;
			}
			
		}
		&__count{
			font-family: OpenSansSemibold, Arial;
			font-size: 12px;
			text-transform: uppercase;
			color: $dimmed;
			display: inline-block;
		}
		&__cy-icon{
			margin-left: 5px;
			font-size: 10px;
			@media screen and (min-width: 1024px) {
				font-size: 12px;
			}
		}
		&__icon{
			display: inline-block;
			width: 31px;
			height: 33px;
			background:transparent url('../images/png/finance-icon.png') no-repeat;
			background-size: cover;
			margin-left: 10px;
		}
	}

	.logo{
		display: inline-block;
		@media screen and (min-width: 1024px) {
			position: static;
		}
		&__link{
			text-decoration: none;
			display: block;
			vertical-align: middle;
		}
		&__img{
			margin-right: 15px;
			width: 30px;
			height: 30px;
			@media screen and (min-width: 1024px) {
				width: 64px;
				height: 64px;
			}
		}
		&__title{
			font-family: OpenSans-bold, Arial;
			color: white;
			line-height: 17px;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			float: right;
			display: block;
			width: 90px;
			padding: 0;
			text-align: left;
			@media screen and (min-width: 1024px) {
				width: 115px;
				padding-top: 15px;
				font-size: 16px;
				line-height: auto;
			}
		}
	}
	.presentation{
		&_device{
			&_mobile{
				display: block;
				clear: both;
				padding-top: 15px;
				@media screen and (min-width: 1024px) {
					display: none;
				}
				.presentation{
					&__icon{
						height: 12px;
						width: 12px;
					}
					&__link{
						display: inline-block;
					}
					&__title{
						width: auto;
					}
					&__size{
						margin-left: 10px;
					}
				}
			}
			&_desktop{
				display: none;
				float: right;
				padding-top: 15px;
				text-align: left;
				@media screen and (min-width: 1024px) {
					display: inline-block;
				}
			}
		}
		
		&__link{
			display: block;
			text-decoration: none;
		}
		&__icon{
			display: inline-block;
			width: 32px;
			height: 32px;
			background:transparent url('../images/png/pdf-icon.png') no-repeat;
			background-size: cover;
			margin-right: 10px;
		}
		&__title{
			font-family: OpenSansSemibold, Arial;
			font-size: 12px;
			color: $dimmed;
			text-transform: uppercase;
			display: inline-block;
			width: 93px;
		}
	}
	#menu-trigger{
		&:checked {
			&~ label:before{
				content: "\f00d";
			}
			&~ .header__bot-line{
				max-height: 300px;		
				border-bottom: 5px solid $green;
			}
		}
	}
	.menu-btn{
		display: block;
		height: 30px;
		width: 30px;
		position: absolute;
		top: 7px;right: 10px;
		text-align: center;
		@media screen and (min-width: 1024px) {
			display: none;
		}
		&:before{
			content: "\f0c9";
			font-size: 28px;
			font-family: FontAwesome;
			line-height: 30px;
			color: $green;
			@media screen and (min-width: 320px) {
				color: white;
			}
		}
	}
	
	&__bot-line{
		padding: 0 15px;
		border-top: 1px solid grey;
		transition: all 0.3s ease;
		overflow: hidden;
		max-height: 0;
		@media screen and (min-width: 1024px) {
			padding: 40px 0 45px;
			max-height: none;
			border: none;
		}
	}
	
	.nav{
		float: left;
		display: inline-block;
		@media screen and (min-width: 1024px) {
			float: none;
		}
		&__menu{
			padding-top: 5px;
		}
		&__item{
			display: block;
			height: 30px;
			@media screen and (min-width: 1024px) {
				display: inline-block;
				padding: 0 25px;
			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
		}
		&__link{
			font-family: OpenSansBold, Arial;
			font-size: 12px;
			line-height: 30px;
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			display: inline-block;
			height: 100%;
			&_state{
				&_active{
					border-bottom: 3px solid  $green;
				}
			}
			@media screen and (min-width: 1024px) {
				display: block;
				width: 100%;
			}
			
			&:hover{
				border-bottom: 3px solid  $green;
			}
			
		}
	}

	.contacts{		
		padding: 20px 0;
		clear: both;
		@media screen and (min-width: 1024px) {
			display: inline-block;
			padding: 0;
			clear: none;
			float: right;
		}
		&__tel{
			font-family: OpenSansBold, Arial;
			font-size: 16px;
			color: $green;
			text-decoration: none;
			display: block;
			padding-bottom: 5px;
			&:before{
				font-family: fontawesome;
				margin-right: 5px;
			}
			
		}
		&__mail{
			font-family: OpenSansRegular;
			font-size: 11px;
			color: $dimmed;
			text-decoration: none;
			display: block;
			@media screen and (min-width: 1024px) {
				text-align: right;
			}			
			&:before{
				@extend .contacts__tel:before;
			}
			
		}
	}
}

.main{
	@at-root{
		.container{
			&_loc{
				&_pages{
					background-color: $bgc;
					padding-top: 50px;
					@media screen and (min-width: 1024px) {
						padding: 0;
					}
				}
			}
		}
		.content{
			padding: 0 15px;
			@media screen and (min-width: 1024px) {				
				width: 1024px;
				padding: 0 32px;
				margin: auto;
			}
		}
		
	}
}

.footer{
	border-bottom: 5px solid  $green;
	position: relative;
	&_loc{
		&_pages{
			.footer__container{
				background-color: $bgc;
			}
		}
		
	}
	
	&__wrapper{
		padding: 15px 10px;
		@media screen and (min-width: 1024px) {
			width: 1024px;
			margin: auto;
			padding: 15px 32px;
		}
	}
	.copyright{
		font-family: OpenSansRegular, Arial;
		font-size: 12px;
		color: $dimmed;
		display: inline-block;
	}
	.dev{
		padding-top: 10px;
		display: block;
		@media screen and (min-width: 640px) {
			padding: 0;
			display: inline-block;
			float: right;
		}
		&__text{
			@extend .copyright;
		}
		.magwai{
			font-size: 12px;
			color: $green;
			text-decoration: none;
			&:hover{
				text-shadow: 0 0 3px $green;
			}
			
		}
	}
}
.invisible{
	display: none;
}
/* .layout */