/* new */
.content_loc_new{
	.new{
		padding-bottom: 65px;
		&__header{
			font-size: 0;
		}
		&__title{
			display: inline-block;
			font-size: 16px;
			@media screen and (min-width: 960px) {
				font-size: 24px;				
			}
			@media screen and (min-width: 1024px) {
				width: 75%;
			}
		}
		&__date{
			font-family: OpenSansSemibold, Arial;
			font-size: 12px;
			display: block;
			@media screen and (min-width: 1024px) {
				display: inline-block;
				float: right;
				width: 25%;
				text-align: right;
				padding-top: 5px;
			}
			&:before{
				content: '\f017';
				font-family: FontAwesome;
				color: $green;
				margin-right: 5px;
			}
		}
		&__content{}
		&__img-link{
			text-decoration: none;
			display: inline-block;
			overflow: hidden;
			max-height: 400px;
			margin: 0 0 10px;
			@media screen and (min-width: 640px) {
				float: left;
				max-width: 50%;
				margin: 0 30px 10px 0;
			}
		}
		&__img{
		}
	}
}
/* .new */