/* news */
.content_loc_news{
	.news{
		&__title{
			font-family: TrebucBold, Arial;
			font-size: 30px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 0;
			@media screen and (min-width: 1024px) {
				margin-bottom: 30px;
			}
		}
		&__list{
			font-size: 0;
			padding: 0;
			li:before{
				content: '';
			}
		}
	}
	.new{
		margin-top: 30px;
		list-style: none;
		display: inline-block;
		vertical-align: top;
		padding: 0;
		@media screen and (min-width: 640px) {
			width: calc(50% - 15px);
		}
		&:nth-child(odd){
			@media screen and (min-width: 640px) {
				margin-right: 30px;				
			}
		}
		&:nth-child(-n+2){
			@media screen and (min-width: 1024px) {
				margin-top: 0;								
			}
		}
		&__link{
			display: block;
			width: 100%;
			height: 120px;
			overflow: hidden;
			position: relative;
			background-color: $bgc;
			text-decoration: none;
			@media screen and (min-width: 960px) {
				height: 195px;
			}
			&:hover{
				border-bottom: 7px solid $green;
			}
		}
		&__img{
			width: 100%;
			height: auto;
			position: absolute;
			left: 0;top: 0;bottom: 0;
			margin: auto;
		}
		&__date{
			font-family: OpenSansSemibold, Arial;
			font-size: 12px;
			color: white;
			padding: 15px 0 20px;
			margin: 0;
			&:before{
				content: '\f017';
				font-family: FontAwesome;
				color: $green;
				margin-right: 5px;
			}
		}
		&__header{
			display: block;
			text-transform: uppercase;
			margin-bottom: 15px;
			max-height: 38px;
			overflow: hidden;
		}
		&__descr{
			font-family: OpenSansRegular, Arial;
			font-size: 14px;
			color: white;
			margin-bottom: 20px;
			max-height: 95px;
			overflow: hidden;
			text-align: left;
		}
		&__btn{
			margin-bottom: 30px;
			@media screen and (min-width: 960px) {
				margin: 0;
			}
		}
		@at-root{
			.btn{
				font-family: OpenSansBold, Arial;
				font-size: 12px;
				color: white;
				text-transform: uppercase;
				text-align: center;
				text-decoration: none;
				border: 2px solid  $green;
				display: inline-block;
				line-height: 34px;
				height: 37px;
				padding: 0 15px;
				&:hover{
					background-color: $green;
				}
			}
		}
	}
}
/* .news */