/* service */
.content_loc_service{
	padding-bottom: 40px;
	ul{
		padding: 0 0 10px 15px;
		li{
			padding-bottom: 15px;
			line-height: 21px;
			&:before{
				@media screen and (min-width: 1024px) {
					font-size: 22px;					
				}
			}
		}
	}
}
/* .service */