/* services */
.row{
	&_1{
		background-color: $bgc;
	}
	&_2{}
}
.content_loc_services{

	.services{
		&__title{
			font-family: TrebucBold, Arial;
			font-size: 30px;
			text-transform: uppercase;
			margin: 0;
			@media screen and (min-width: 960px) {
				margin-bottom: 30px;
			}
		}
		&__list{
			padding: 0 0 40px;
			font-size: 0;
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			li:before{
				content: '';
			}
		}
		
		.service{
			list-style: none;
			position: relative;
			margin-top: 30px;
			margin-bottom: 30px;
			padding-bottom: 40px;
			@media screen and (min-width: 640px) {
				width: 45%;
			}
			@media screen and (min-width: 960px) {
				margin: 0;
				width: 220px;
			}
			&__icon{
				font-size: 45px;
				color: $green;
				margin-bottom: 20px;
				&:hover{
					color: white;
				}
			}
			&__list{}
			&__title{
				h3{						
					margin-bottom: 10px;
					font-size: 18px;
					line-height: 20px;
				}
			}
			&__descr{
				font-family: OpenSansRegular, Arial;
				margin-bottom: 20px;
				line-height: 18px;
			}
			&__btn{
				position: absolute;
				bottom: 0;
			}
		}
		
	}
	.offers{
		&__title{
			@extend .services__title;
			margin: 30px 0 0;
		}
		&__list{
			text-align: center;
			font-size: 0;
			padding: 0 0 65px;
			li:before{
				content: '';
			}
		}
		.offer{
			width: 215px;
			height: 195px;
			list-style: none;
			display: inline-block;
			padding: 0;
			margin-top: 30px;
			@media screen and (min-width: 480px) {
				margin: 30px 5px 0;
			}
			@media screen and (min-width: 640px) {
				margin: 30px 16px 0;
			}
			&:nth-child(4n){
				@media screen and (min-width: 1024px) {
					margin-right: 0;
				}
			}
			&:nth-child(4n+1){
				@media screen and (min-width: 1024px) {
					margin-left: 0;					
				}
			}
			&__link{
				display: block;
				height: 100%;
				width: 100%;
				position: relative;
				overflow: hidden;
				border-bottom: 7px solid  $green;
				&:hover{
					& .offer__title{

						background-color: $green;
					}
					& .offer__img-filter{
						display: none;
					}
				}
			}
			&__img{
				position: absolute;
				left: 0;top: 0;bottom: 0;
				margin: auto;
				&-filter{
					position: absolute;
					height: 100%;
					width: 100%;

					background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
					background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

				}
			}
			&__title{
				
				position: absolute;
				bottom: 0;
				margin: 0;
				padding: 20px;
				width: 100%;
				h3{
					font-family: OpenSansBold, Arial;
					text-transform: uppercase;
					text-align: left;
					margin: 0;
					max-height: 38px;
					overflow: hidden;
				}
			}
		}
	}
}
/* .services */