/* setup */
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.ttf') format("truetype"); 
}
/* @font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('../fonts/OpenSans-BoldItalic.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'OpenSansExtraBold';
	src: url('../fonts/OpenSans-ExtraBold.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'OpenSansExtraBoldItalic';
	src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSans-Italic.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'OpenSansLightItalic';
	src: url('../fonts/OpenSans-LightItalic.ttf') format("truetype"); 
} */
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.ttf') format("truetype"); 
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSans-Semibold.ttf') format("truetype"); 
}
/* @font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url('../fonts/OpenSans-SemiboldItalic.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'Trebuc';
	src: url('../fonts/trebuc.ttf') format("truetype"); 
} */
@font-face {
	font-family: 'TrebucBold';
	src: url('../fonts/trebucbd.ttf') format("truetype"); 
}
/* @font-face {
	font-family: 'TrebucBoldItalic';
	src: url('../fonts/trebucbi.ttf') format("truetype"); 
} */
/* @font-face {
	font-family: 'TrebucItalic';
	src: url('../fonts/trebucit.ttf') format("truetype"); 
} */
/* .fonts */

@import "../../dist/plugins/scut/dist/scut";
@include scut-reset();

ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
	font-weight: 100;
}

html {
	min-height: 100%;
}
/* .setup */