/* typography */
@import "vars";
h1,
h2,
h3 {
	font-family: OpenSansBold, Arial;
	color: white;
}

h1 {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 30px;
	@media screen and (min-width: 1024px) {
		font-size: 24px;
	}
}

h2 {
	font-size: 16px;
	margin-bottom: 20px;
	@media screen and (min-width: 1024px) {
		font-size: 18px;		
	}
}

h3 {
	font-size: $mainSize;
	margin-bottom: 20px;
}

p {
	font-family: OpenSansRegular, Arial;
	font-size: $mainSize;
	color: white;
	margin-bottom: 20px;
}

ul {
	li {
		font-size: $mainSize;
		color: white;
	}
}

ol {
	li {
		font-size: $mainSize;
		color: white;
	}
}

dl {
	dt {}
	dd {}
}

a {
	font-size: $mainSize;
	color: white;
}

table {}
tr {}
th{
	font-family: OpenSansSemibold, Arial;
	font-size: 14px;
	color: white;
}
td {
	@extend th;
}
.content{
	p{
		text-align: justify;
		&:last-of-type {
			margin-bottom: 20px;
		}
	}
	q{
		font-style: italic;
	}
	blockquote{
		@extend p;
		padding-left: 16px;
		border-left: 5px solid $green;
		max-width: 700px;
		font-style: italic;
		margin: 0 0 20px 35px;
	}
	ul{
		padding: 0 0 10px 50px;
		li{
			list-style: none;
			padding-bottom: 10px;
			position: relative;
			&:before{
				content: '\f101';
				font-size: 16px;
				font-family: FontAwesome;
				color: $green;
				display: inline-block;
				position: absolute;
				left: -15px;
			}
		}
		strong{
			font-family: OpenSansBold, Arial;
			font-size: 16px;
			@media screen and (min-width: 1024px) {
				font-size: 18px;				
			}
		}
	}
	ol{
		margin: 0 0 20px 0;
		li{
			list-style-position: inside;
			line-height: 18px;
			text-align: justify;
		}
	}
	table{
		table-layout: fixed;
		margin: auto;
		margin-bottom: 20px;
	}
	thead{
		border: 2px solid  $green;
	}
	tbody{
		border: 2px solid white;
	}
	tr{
		display: block;
		@media screen and (min-width: 640px) {
			display: table-row;
		}
	}
	th{
		padding: 15px 35px;
		display: block;
		text-align: left;
		@media screen and (min-width: 640px) {
			display: table-cell;
		}
	}
	td{
		@extend th;
	}
	.sign{
		padding-bottom: 70px;
		dl{
			text-align: right;
		}
		dt{
			font-size: 14px;
			font-family: OpenSansRegular, Arial;
			color: white;
			display: inline-block;
		}
		dd{
			@extend dt;
		}
		a{
			color: $green;
		}
	}
}
/* .typography */