footer(block="footer", mod="loc:pages")
	div(elem="container")
		div(elem="wrapper")
			div(block="copyright") © 2015 ЗАО Системы управления. Все права защищены
			div(block="dev") 
				span(elem="text") Разрабока сайтов - <a class="magwai" href="http://magwai.ru/", target="_blank">Магвай</a>