doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Системы управления
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='plugins/normalize-css/normalize.css')
		link(rel='stylesheet', href='plugins/fontawesome/css/font-awesome.min.css')
		link(rel="stylesheet", href="plugins/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="plugins/slick-carousel/slick/slick-theme.css")
		link(rel='stylesheet', href='styles/style.css')
	body
		header(block="header")
			div(elem="wrapper")
				
				div(elem="top-line")

					div(block="finance", mod="device:desktop")
						dl(elem="list", title="Курсы валют")
							dt(elem="currency") Доллар
								i(elem="cy-icon", class="fa fa-usd")
							dd(elem="count") 56.29
								i(elem="cy-icon", class="fa fa-rub")
							br
							dt(elem="currency") Евро
								i(elem="cy-icon", class="fa fa-eur")
							dd(elem="count") 64.64
								i(elem="cy-icon", class="fa fa-rub")
						i(elem="icon")

					div(block="logo")
						a(elem="link", href="#", title="На главную")
							img(elem="img", src="images/png/logo.png", alt="Логотип")
							span(elem="title") Системы управления

					div(block="presentation", mod="device:desktop")
						a(elem="link", href="#", target="_blank")
							i(elem="icon")
							span(elem="title") Посмотреть презентацию

				input#menu-trigger(class="invisible",type="checkbox")
				label(block="menu-btn", for="menu-trigger")
				
				div(elem="bot-line")
					nav(block="nav")
						ul(elem="menu")
							each item in locals.nav
								li(elem="item")
									a(elem="link", href=item.href)=item.title
					
					div(block="finance", mod="device:mobile")
						dl(elem="list", title="Курсы валют")
							dt(elem="currency") Доллар
								i(elem="cy-icon", class="fa fa-usd")
							dd(elem="count") 56.29
								i(elem="cy-icon", class="fa fa-rub")
							br
							dt(elem="currency") Евро
								i(elem="cy-icon", class="fa fa-eur")
							dd(elem="count") 64.64
								i(elem="cy-icon", class="fa fa-rub")
						i(elem="icon")

					div(block="presentation", mod="device:mobile")
						i(elem="icon")
						a(elem="link", href="#")
							span(elem="title") Посмотреть презентацию
							span(elem="size") 1.2 mb


					div(block="contacts")
						a(elem="tel", class="fa fa-phone" href="#", title="Наш номер телефона") 8 495 607-31-27
						a(elem="mail", class="fa fa-envelope-o" href="#", title="Наша почта") info@systemuprav.ru
		
		main(block="main")
			block content

		block footer
						
		script(src="plugins/jquery/dist/jquery.min.js")
		script(src="plugins/slick-carousel/slick/slick.min.js")
		script(src="scripts/delete_me.js")
		script(src="scripts/main.js")
		
		block scripts