extends _layout

block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs

		div(block="content", mod="loc:article")
			div(block="article")
				div(elem="wrapper")
					h1(elem="title") Swot-анализ: сделай качественно
					div(elem="content")
						p Одним из самых распространенных методов, оценивающих в комплексе состояние компании, является SWOT-анализ. Что это такое, когда и зачем применяется? Существуют ли методы, помогающие неспециалисту провести качественный SWOT-анализ?
						p В данной статье раскрывается методика проведения SWOT-анализа, перечислены параметры, на которые необходимо обратить особое внимание, приведены образцы стандартных матриц, используемых при его осуществлении. В статье приведены также собственные опытные разработки автора, помогающие осуществить качественный анализ. 
						p Состояние компании зависит от того, насколько успешно она способна реагировать на различные воздействия извне. Анализируя внешнюю ситуацию, необходимо выделять наиболее существенные на конкретный период времени факторы. Взаимосвязанное рассмотрение этих факторов с возможностями компании позволяет решать возникающие проблемы. При решении разного уровня задач необходимо также четко представлять, поддаются ли критические факторы контролю со стороны компании. Являются ли они внутренними или внешними, поддающимися изменениям усилиями компании или это внешние события, на которые компания влиять не в состоянии. Одним из самых распространенных методов, оценивающих в комплексе внутренние и внешние факторы, влияющие на развитие компании можно назвать SWOT-анализ. 
						h2 Аббревиатура SWOT означает:
						ul
							li Strengths – сильные стороны
							li Weakness – слабые стороны
							li Opportunities – возможности
							li Threats – угрозы
						blockquote.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nesciunt dolorum laboriosam saepe laudantium, ratione numquam ex aut mollitia cumque, incidunt quo dignissimos, ducimus sint quos repellat labore, dolorem impedit!
						p Иначе говоря, SWOT анализ – это анализ сильных и слабых сторон организации а также возможностей и угроз со стороны внешней окружающей среды. «S» и «W» относятся к состоянию компании, а «O» и «T» к внешнему окружению организации.
						p По результатам ситуационного анализа можно оценить, обладает ли компания внутренними силами и ресурсами, чтобы реализовать имеющиеся возможности и противостоять угрозам, и какие внутренние недостатки требуют скорейшего устранения.
						h2 Может ли быть сделан качественный SWOT-анализ не маркетологом?
						p Главное при проведении SWOT-анализа, также как и других исследований и стратегического планирования, это не корочка диплома, а умение мыслить, умение посмотреть на свою организацию, встающие задачи и проблемы «взглядом со стороны».
						p Если вы способны отойти от своих субъективных оценок, а любые личностные оценки всегда носят субъективный характер, внимательно пройтись по параметрам SWOT, оценивая их как бы извне организации, принимая на себя то роль потенциального или реального покупателя/клиента, то конкурента, то просто стороннего наблюдателя, то вы справитесь со SWOT-анализом. Специального образования для базисного варианта анализа не нужно.
						p Нельзя доверять проведение SWOT-анализа только собственникам бизнеса и большинству генеральных директоров. Ни те, ни другие, особенно основатели компаний (т.е. люди, которым принадлежала идея создания жизнеспособного и, особенно, успешного бизнеса) как правило, не в состоянии полностью отойти от собственных представлений о собственном бизнесе и взглянуть на него как незаинтересованный сторонний наблюдатель. И ни обширный опыт работы, никакое образование здесь не помогут.
						h2 Основные параметры SWOT-анализа
						p Неотъемлемыми частями SWOT-анализа можно назвать внутренний аудит компании и аудит внешней среды.
						h2 Анализ возможностей, предоставляемых рынком
						table
							thead
								tr
									th(rowspan="2") Вероятность использования возможностей
									th(colspan="3") Влияние возможностей
								tr
									th Сильное (С)
									th Умеренное (У) 
									th Малое (М)
							tbody
								tr
									td Высокая (В)
									td ВС 
									td Рост рынка 
									td ВУВМ
								tr
									td Средняя (С)
									td ВМ
									td Средняя (С)
									td СС

						h2 Подведем итоги
						ol
							li Для осуществления базового варианта SWOT-анализа необходимо сначала выбрать основные параметры, влияющие на развитие ситуации и/или успешность организации на рынке. Приоритетом служат ключевые факторы успеха. Рассматриваем также основные возможности и угрозы, которые могут повлиять на компанию или рассматриваемую ситуацию.
							li Оцениваем представленность выделенных факторов в компании. Ориентиром для оценки работы компании по выделенным параметрам служат ожидания клиентов и достижения ближайших конкурентов и лидера рынка. Результаты оформляются в матрицу (Таблицы 1 или 2)
						div(block="sign")
							dl
								dt Автор:
								dd Елена Кадышева
							dl
								dt Источник:
								dd 
									a(href="#") www.e-xecutive.ru
block footer
	include _footer-pages