extends _layout

block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs

		div(block="content", mod="loc:articles")
			div(block="articles")
				h1(elem="title") Статьи
				ul(elem="list")
					each item in locals.articlesPage
						li(block="article")
							h2(elem="header")=item.header
							a(elem="img-link", href="#", title=" перейти к статье")
								img(elem="img", src=item.src, alt="изображение")
							h3(elem="title")=item.title
							p(elem="descr")=item.descr
							a(elem="btn", class="btn", href="#") Читать

			include placeholders/_paginator
block footer
	include _footer-pages			