extends _layout

block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs

		div(block="content", mod="loc:contacts")
			h1(block="contacts-title") Контактная информация

		div(block="map")
			div#map-canvas(block="map", title=" двойной клик - отдалить/приблизить")
			input#map-trigger(class="invisible", type="checkbox")
			div(elem="cover")
				label(elem="btn", for="map-trigger", class="btn") Посмотреть на карте
		script
			include ../scripts/_map.js

		div(block="content", mod="loc:contacts")
			div(block="contacts")
				div(block="contact")
					div(elem="adress")
						p 107045
						p Россия, г.Москва
						p Пушкарева пер, дом 6, оф.3
					div(elem="tel")
						a(href="#") 8 (495) 607-31-27
					div(elem="mail")
						a(href="#") info@systemuprav.ru
				div(block="feedback")
					form(elem="form")
						h2(elem="title") Напишите нам
						input(elem="input" , type="text", placeholder="Ваше имя", required)
						input(elem="input" , type="text", placeholder="Электронная почта", required)
						textarea(elem="message" , placeholder="Сообщение", required)
						button(elem="btn", class="btn") Отправить
block footer
	include _footer-pages

block scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv95oiu3Pk_xSa36gpbw7HKE0Thpc6Swg&signed_in=true&callback=initMap", async, defer)