extends _layout
	
block content
	div(block="container")
		div(block="content", mod="loc:index")
			
			div(block="slider")
				div(elem="slick")
					div(block="slide")
						div(block="slogan")
							p(elem="text", mod="size:big") Оптимальные направления развития бизнеса
							p(elem="text", mod="size:small") Быстрое решение ваших вопросов
					div(block="slide")
						div(block="slogan")
							p(elem="text", mod="size:big") Оптимизация бизнес-процессов
							p(elem="text", mod="size:small") Ваших вопросов быстрое решение 
				div(elem="buttons")

			div(block="news", mod="loc:index")
				ul(elem="list")
					each item in locals.newsIndex
						li(block="new", mod="loc:index")
							a(elem="link", href="#", title="перейти к новости")
								img(elem="img", src=item.src, alt="")
								div(elem="img-filter")
								p(elem="date", title="Дата новости")=item.date
								h3(elem="header")=item.header
block footer
	include _footer-index