extends _layout
block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs
		
		div(block="content", mod="loc:new")
			div(block="new")
				div(elem="header")
					h1(elem="title") Минэкономразвития предложило сэкономить на поддержке занятости
					p(elem="date", title=" дата новости") 13.06.2015
				
				div(elem="content")
					a(elem="img-link" ,href="#")
						img(elem="img", src="images/media/new.jpg", alt="изображение")
					p Финансовые проблемы — вторая по распространенности причина разводов в России. Чтобы разногласия из-за денег не испортили семейную жизнь, супругам нужно действовать как команде менеджеров, рассматривать брак как инвестпроект. «Я на свой страх и риск открыл бизнес. Бывают недели, что выручки нет. Жена говорит, что денег вечно не хватает», — негодует молодой человек на форуме о семейных отношениях сайта psychologies.ru. Сайты о браке и семье переполнены такими жалобами на конфликты из-за денег. По данным опроса Всероссийского центра изучения общественного мнения (ВЦИОМ), бедность и невозможность прокормить семью — вторая по частоте причина разводов в России.
					p <q>Я на свой страх и риск открыл бизнес. Бывают недели, что выручки нет. Жена говорит, что денег вечно не хватает</q>, — негодует молодой человек на форуме о семейных отношениях сайта <a href="#">psychologies.ru</a>. Сайты о браке и семье переполнены такими жалобами на конфликты из-за денег. По данным опроса Всероссийского центра изучения общественного мнения (ВЦИОМ), бедность и невозможность прокормить семью — вторая по частоте причина разводов в России.
					p «Я на свой страх и риск открыл бизнес. Бывают недели, что выручки нет. Жена говорит, что денег вечно не хватает», — негодует молодой человек на форуме о семейных отношениях сайта psychologies.ru. Сайты о браке и семье переполнены такими жалобами на конфликты из-за денег. По данным опроса Всероссийского центра изучения общественного мнения (ВЦИОМ), бедность и невозможность прокормить семью — вторая по частоте причина разводов в России.
					h2 Богатые тоже спорят
					p
						strong Банк – это кредитная организация, которая имеет исключительное право осуществлять в совокупности следующие банковские операции:
					ul
						li привлечение во вклады денежных средств юридических и физических лиц (до востребования и на определенный срок);
						li размещение указанных средств от своего имени и за свой счет на условиях возвратности, срочности и платности (кредит);
						li открытие и ведение банковских счетов клиентов.
					ol
						li привлечение во вклады денежных средств юридических и физических лиц (до востребования и на определенный срок);
						li размещение указанных средств от своего имени и за свой счет на условиях возвратности, срочности и платности (кредит);
						li открытие и ведение банковских счетов клиентов.
					p Финансовые проблемы — вторая по распространенности причина разводов в России. Чтобы разногласия из-за денег не испортили семейную жизнь, супругам нужно действовать как команде менеджеров, рассматривать брак как инвестпроект. «Я на свой страх и риск открыл бизнес. Бывают недели, что выручки нет. Жена говорит, что денег вечно не хватает», — негодует молодой человек на форуме о семейных отношениях сайта psychologies.ru. 
block footer
	include _footer-pages						