extends _layout
block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs

		div(block="content", mod="loc:news")
			div(block="news")
				h1(elem="title") Новости
				ul(elem="list")
					each item in locals.newsPage
						li(block="new")
							a(elem="link", href="#")
								img(elem="img", src=item.src, alt="изображение")
							p(elem="date", title=" дата новости")=item.date
							h3(elem="header")=item.header
							p(elem="descr")=item.descr
							a(elem="btn", class="btn", href="#") Читать
		
		include placeholders/_paginator

block footer
	include _footer-pages