extends _layout
block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs

		div(block="content", mod="loc:services")
			div(block="services")
				h2(elem="title", class="g-page-header") Наши услуги
				ul(elem="list")
					each item in locals.services
						li(block="service")
							i(elem="icon" class=item.icon)
							dl(elem="list")
								dt(elem="title")
									h3=item.title
								dd(elem="descr")=item.descr
							a(elem="btn", class="btn" ,href="#") Подробнее
	div(block="container")
		div(block="content", mod="loc:services")
			div(block="offers")
				h2(elem="title") Мы предлагаем
				ul(elem="list")
					each item in locals.offers
						li(block="offer")
							a(elem="link" ,href="#")
								img(elem="img", src=item.src, alt="Изображение")
								div(elem="img-filter")
								div(elem="title")
									h3=item.title
block footer
	include _footer-index