extends _layout
block content
	div(block="container", mod="loc:pages")
		include placeholders/_breadcrumbs
		
		div(block="content", mod="loc:service")
			div(block="service")
				div(elem="wrapper")
					h1(elem="title") Операционный консалтинг
					p Операционный консалтинг является неотъемлемой частью комплексного подхода ЗАО «Системы управления».
					ul
						li <strong>Оптимизация бизнес-процессов</strong> - использование успешного опыта реализации проектов позволяет предложить реалистичный подход к оптимизации текущих бизнес процессов, написание регламентов, построение внутренней отчётности.
						li <strong>Внутренний аудит</strong> - позволяет своевременно подготовить отчетность компании, выявить нарушения и недочеты и своевременно предпринять меры по их устранению, и предотвращению в будущем.
						li <strong>Аккаунтинг</strong> - выделение ведения бухгалтерского учета на аутсорсинг у позволяет экономить значительные средства за счет сокращения издержек на персонал и накладные расходы, одновременно обеспечивая высокий уровень достоверности документов, отчетности и прозрачности для кредиторов.
						li <strong>Финансовый контроль</strong> - позволяет банку осуществлять контроль над расходами и доходами заемщика, жестко контролировать установленные лимиты бюджетов и своевременно реагировать на изменения ситуации.
						li <strong>ИТ-консалтинг</strong> - включает в себя ряд различных блоков позволяющих оптимально организовать ИТ системы с точки зрения безопасности, эффективности на аппаратном и программном уровнях, в том числе написание программных продуктов например системы электронного согласования договоров, системы финансового контроля исполнения бюджетов.
						li <strong>Правовой консалтинг</strong> - обеспечивает комплексную защиту интересов клиента в правовом поле  и управление юридическими рисками, включает: - Частичное и полное юридическое сопровождение; - Защита интересов клиента в юридических спорах
						li <strong>Поддержка на переговорах</strong> - участие в переговорах в качестве эксперта в целях отстаивания интересов клиента.
							
block footer
	include _footer-pages							