.breadcrumbs{
	padding: 40px 15px 20px;
	@media screen and (min-width: 1024px) {
		width: 1024px;
		margin: auto;
		padding: 40px 32px 20px;
	}
	&__link{
		font-family: OpenSansRegular, Arial;
		font-size: 12px;
		color: #93c12f;
		text-decoration: none;
		&_type{
			&_home{

			}
			&_pages{
				&:before{
					content: '/';
					font-size: inherit;
					color: white;
					margin: 0 5px;
				}
				
			}
		}
	}
}