main .paginator{
	padding: 35px 32px 45px;
	text-align: center;
	@media screen and (min-width: px) {
		width: 1024px;
		margin: auto;
		padding: 35px 32px 45px;
	}
	.paginator__item:before{
		content: '';
	}
	&__item{
		list-style: none;
		display: inline-block;
		vertical-align: top;
	}
	&__link{
		color: white;
		text-decoration: none;
		display: block;
		height: 25px;
		line-height: 25px;
		padding: 0 5px;
		&:hover{
			color: $green;
		}
		
		&_type{
			&_arrow{
				font-size: 24px;
			}
			&_num{
				font-size: 12px;
				font-family: OpenSansSemibold;
			}
			&_etc{
				@extend .paginator__link_type_num;
				&:hover{
					color: white;
				}
			}
			
		}
		&_state{
			&_active{
				cursor: default;
				text-decoration: underline;
				&:hover{
					color: white;
				}
			}
		}
	}
}