ul(block="paginator")

	li(elem="item")
		a(elem="link",mod="type:arrow",class="fa fa-angle-left",href="#")

	li(elem="item")
		a(elem="link",mod="type:num",href="#") 1

	li(elem="item")
		span(elem="link",mod="type:etc") ...

	li(elem="item")
		span(elem="link",mod="type:num, state:active") 18

	li(elem="item")
		span(elem="link",mod="type:etc") ...

	li(elem="item")
		a(elem="link",mod="type:num",href="#") 39
		
	li(elem="item")
		a(elem="link",mod="type:arrow", class="fa fa-angle-right",href="#")